@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.highlight-color {
    color: #6415ff;
}

#landing {
    padding: 0 32px;
    height: 100vh;
}

p {
    line-height: 1.5;
}

/* 

NAVIGATION BAR 

*/

.nav__container {
    padding-top: 32px;
}

.nav__row {
    display: flex;
}

.nav__logo--pair {
    display: flex;
}

.nav__logo--title {
    color: #243e63;
    font-weight: 900;
    font-size: 24px;
    margin-left: 12px;
    align-content: center;
}

.logo__img--wrapper {
    max-width: 40px;
    height: auto;
}

.logo__img {
    width: 100%;
}

.nav__list {
    display: flex;
    list-style-type: none;
}

.nav__link {
    font-size: 14px;
    font-weight: 600;
    margin: 0 24px;
    align-content: center;
}

.nav__link--anchor {
    color: #243e63;
    text-decoration: none;
}

.nav__link--anchor:hover {
    text-decoration: underline;
}

.nav__link--primary {
    color: #fff;
}

.nav__button--sign-up {
    border: none;
    padding: 10px 32px;
    background-color: #6415ff;
    border-radius: 24px;
    line-height: 1.5;
    cursor: pointer;
}

.nav__button--sign-up:hover {
    cursor: pointer;
}

/* 

HEADER 

*/

.header__container {
    height: calc(100vh - 92px);
    display: flex;
    align-items: center;
}

.header__side--left {
    display: flex;
    flex-direction: column;
    width: calc(100vw / 3);
}

.header__title {
    font-size: 36px;
    color: #1a202c;
    line-height: 1.25;
}

.header__description {
    margin: 32px 0;
}

.header__button {
    background-color: #6415ff;
    color: #fff;
    border: none;
    font-weight: 700;
    font-size: 16px;
    width: 40%;
    padding: 14px 22px;
    border-radius: 24px;
    z-index: 1;
}

.header__customers {
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 64px;

}

.header__img {
    margin-top: 16px;
    width: 100%;
    opacity: 50%;
}

.header__illustration--img {
    max-width: 512px;
}

.header__email--submission {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.header__email--input {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    padding: 20px 192px 20px 32px;
    border: 2px solid rgb(229, 231, 235);
    border-radius: 50px;
    position: absolute;
    z-index: 0;
    top: -8px;
    left: 8px;
}
