@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}

.row {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.highlight-color {
    color: #6415ff;
}

#landing {
    padding: 0 32px;
    height: 100vh;
}

p {
    line-height: 1.5;
}

.container {
    padding: 96px 0;
}

/* 

NAVIGATION BAR 

*/

.nav__container {
    padding: 32px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
}

.nav__logo--pair {
    display: flex;
}

.nav__logo--title {
    color: #243e63;
    font-weight: 900;
    font-size: 24px;
    margin-left: 12px;
    align-content: center;
}

.logo__img--wrapper {
    max-width: 40px;
    height: auto;
}

.logo__img {
    width: 100%;
}

.nav__list {
    display: flex;
    list-style-type: none;
}

.nav__link {
    font-size: 14px;
    font-weight: 600;
    margin: 0 24px;
    align-content: center;
}

.nav__link--anchor {
    color: #243e63;
    text-decoration: none;
}

.nav__link--anchor:hover {
    text-decoration: underline;
}

.nav__link--primary {
    color: #fff;
}

.nav__button--sign-up {
    border: none;
    padding: 10px 32px;
    background-color: #6415ff;
    border-radius: 24px;
    line-height: 1.5;
    cursor: pointer;
}

.nav__button--sign-up:hover {
    cursor: pointer;
}

/* 

HEADER 

*/

.header__container {
    height: calc(100vh - 92px);
    display: flex;
    align-items: center;
}

.header__side--left {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.header__title {
    font-size: 36px;
    color: #1a202c;
    line-height: 1.25;
}

.header__description {
    margin: 32px 0;
}

.header__button {
    background-color: #6415ff;
    color: #fff;
    border: none;
    font-weight: 700;
    font-size: 16px;
    width: 40%;
    padding: 14px 22px;
    border-radius: 24px;
    z-index: 1;
}

.header__customers {
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 64px;

}

.header__illustration--wrapper {
    width: 60%;
}

.header__img {
    margin-top: 16px;
    width: 100%;
    opacity: 50%;
}

.header__illustration--img {
    width: 100%;
}

.header__email--submission {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.header__email--input {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    padding: 20px 192px 20px 32px;
    border: 2px solid rgb(229, 231, 235);
    border-radius: 50px;
    position: absolute;
    z-index: 0;
    top: -8px;
    left: 8px;
}

/* 

FEATURES 

*/

#features .section__title {
    padding-top: 96px; 
}

.features__row {
    flex-direction: column;
}

.feature__title {
    color: #243e63;
    font-size: 24px;
}

.feature__para {
    color: #7c8ba1;
    margin-top: 16px; 
    line-height: 2;
    font-weight: 500;
}

.feature__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 32px 122px;
}

.feature {
    display: flex;
    flex-direction: row;
    padding: 32px 24px;
    width: calc(100% / 3);
}

.feature__img {
    width: 24px;
    height: 24px;
}

.feature__img--wrapper {
    display: flex;
    padding: 20px;
    margin-right: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 50%;
    height: 64px;
}

.section__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section__title {
    color: #6415ff;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.section__subtitle {
    font-size: 48px;
    font-weight: 900;
    margin: 16px 0;
}

.section__text {
    color: #7c8ba1;
    font-size: 18px;
    font-weight: 500;
    max-width: 500px;
    text-align: center;
}

/* 

QUALITY WORK SECTION

*/

#quality-work .section__text {
    text-align: left;
}

.quality-work__row {
    display: flex;
    padding: 0 32px;
}

.quality-work__description {
    width: 50%;
}

.quality-work__img--wrapper {
    margin: 0 56px;
    width: 50%;
}

.quality-work__img {
    width: 100%;
}

.quality-work__button {
    margin-top: 32px;
    background-color: #6415ff;
    padding: 12px 32px;
    font-size: 14px;
    border-radius: 24px;
    border: none;
    color: #fff;
    font-weight: bold;
}

/* 

STEPS 

*/

#steps .row {
    align-items: center;
}

.list__step {
    display: flex;
}

.list__step--number {
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
}

.step__description {
    margin-left: 24px;
}

.steps__illustration--wrapper {
    width: 50%;
}

.steps__side--right {
    width: 50%;
    padding: 32px 0 32px 64px;
}

.steps__illustration {
    width: 100%;
}

.step__title {
    font-size: 20px;
    font-weight: 600;
}

.list__step--para {
    color: #718096;
    font-size: 14px;
    font-weight: 500;
    line-height: 2;
    margin-top: 12px;
}